.outerDiv {
    display: flex;
    flex-direction: row;
}
.headerLeft {
    display: flex;
    flex-direction: column;
    align-self: left !important;
    padding-left: 5px;
} 
.headerLeft h1 {
    font-family: cursive;
    font-size: 30px;
    margin-bottom: 0px;
}
.headerLeft h3 {
    font-size: 10px;
    margin-top: 0px;
}
#food-logo {
    height: 120px;
    width: 50px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 892px;
    margin: 20px;
}
.buttonList {
    display: flex;
    justify-content: right;
    align-content: center;
    height: 20px;
}
header img {
    height: 100%;
    object-fit: contain;
}
#pint-icon {
    padding-right: 5px;
}